h1 {
    font-size: 4rem;
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

.topbar {
    border: none;
}

.content {
    margin-left: var(--sidebar-width);
    padding: min(5%, 40px);
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    padding-top: 15px;
    height: calc(100vh - var(--topbar-height));
    background-color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    width: 85%;
    margin: 15px 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.selected {
    background: linear-gradient(to bottom right, var(--accent1), var(--accent2));
    color: #000 !important;
}

.navbar > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0 15px;
}

.leaderboard img {
    height: 21px;
}

.notif img {
    height: 27px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    background-color: #fff;
    overflow: hidden;
    /* border: 2px solid #000; */
}

.profile-pic img {
    width: 96px;
}

.profile-popup {
    position: absolute;
    background-color: #fff;
    top: calc(var(--topbar-height) - 10px);
    right: 64px;
    border-radius: 5px;
    padding: 10px;
    display: none;
    flex-direction: column;
}

.profile-popup a:hover {
    color: var(--accent2);
}

/***** LEADERBAORD *****/
.leaderboard-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
    margin-top: 50px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    border: 3px solid transparent;
    border-radius: 5px;
}

.leaderboard-entry > div {
    gap: 0.5em;
}

.leaderboard-entry .rank {
    width: 5%;
}

.leaderboard-entry .name {
    width: 80%;
    text-align: left;
    border-right: none;
}

.leaderboard-entry .points {
    flex-grow: 1;
    text-align: right;
}