.topbar {
    border: none;
}

.content {
    margin-left: var(--sidebar-width);
    padding: min(5%, 40px);
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    padding-top: 15px;
    height: calc(100vh - var(--topbar-height));
    background-color: #fff;
    border-right: 1px solid var(--light-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    text-align: left;
    text-decoration: none;
    color: var(--dark-grey);
    padding: 10px 15px;
    width: 85%;
    margin: 15px 0;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: var(--light-blue);
}

.sidebar img {
    height: 1rem;
    margin-right: 10px;
}

.selected {
    background: linear-gradient(to bottom right, var(--accent1), var(--accent2));
    color: #fff !important;
}

.selected img {
    filter: invert(1);
}

.navbar > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
    margin: 0 15px;
}

.leaderboard img {
    height: 21px;
}

.notif img {
    height: 27px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    border: none;
    background-color: #fff;
    overflow: hidden;
    /* border: 2px solid #000; */
}

/***** Profile Popup *****/
label img {
    width: 100%;
}

#popup-toggle {
    display: none;
}

.profile-popup {
    display: none;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    background-color: #fff;
    top: calc(var(--topbar-height) - 10px);
    right: 64px;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    padding: 16px !important;
    z-index: 10;
}

.profile-popup * {
    color: var(--text);
    text-decoration: none;
    margin: 10px;
}

.profile-popup a:hover {
    color: var(--accent2);
}

#popup-toggle:checked ~ .profile-popup {
    display: flex;
}

#popup-overlay {
    display: none;
}

#popup-toggle:checked ~ #popup-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

/***** DEFAULTS *****/
.content > .header {
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

.content > .header > h1 {
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
}

.content > .header > h2 {
    font-size: 1.2rem;
    color: var(--dark-grey);
}

/***** DASHBOARD *****/
.dashboard-content {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: min(5%, 40px);
    grid-auto-flow: row;
}

.dashboard-content > div {
    padding: 20px;
    border: 1px solid var(--light-grey);
    background-color: #fff;
    border-radius: 8px;
}

.dashboard-content h3 {
    margin-bottom: 10px;
}

.dashboard-content h2 {
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
}

.dashboard-content p {
    color: var(--text);
    margin: 0.5em 0;
}

.points-dashboard {
    grid-column: span 2;
    background-color: #fff;
}

.health-dashboard {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1;
}

.progress-dashboard {
    grid-column: span 2;
}

.progress-bar {
    height: 10px;
    width: 100%;
    margin-top: 1.25em;
    background-color: var(--light-grey);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar::after {
    display: block;
    content: "";
    height: 100%;
    width: 0%;
    border-radius: 10px;
    background-color: var(--accent1);
    transition: width 0.5s ease;
}

.attendance-dashboard {
    grid-column: span 2;
}

.challenges-dashboard {
    grid-column: span 4;
    grid-row: span 2;
}

.quotes-dashboard {
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;
}

.leaderboard-dashboard {
    grid-column: span 4;
    grid-row: span 2;
}

.quote {
    font-style: italic;
    color: var(--grey);
}

.quote-by {
    text-align: right;
}