.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content li {
    list-style: none;
}

.content section {
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.content h1 {
    font-family: 'Roboto-Bold';
    font-size: 4rem;
    margin: 40px;
}

.content h2 {
    font-family: 'Roboto-Bold';
    font-size: 3rem;
    margin: 40px;
}

.content h3 {
    font-family: 'Roboto-Bold';
    font-size: 1.5rem;
}

.content a {
    margin: 30px;
}

.content p {
    font-size: 1.4rem;
    width: 70%;
}

.hero {
    color: #fff;
    height: 90vh;
    background-image: url('../images/background-black.png');
    border-bottom: 10px solid;
    border-image: linear-gradient(to left, var(--accent1), var(--accent2)) 1;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-card {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to bottom right, var(--accent1), var(--accent2)) border-box;
    border: 4px solid transparent;
    border-radius: 15px;

    width: max(300px, 25%);
    height: 400px;
    margin: 25px;
    overflow: hidden;
    /* padding: 2rem; */
}

.info-card-content {
    padding: 2rem;
    width: 90%
}

.call-to-action {
    border-top: 10px solid;
    border-image: linear-gradient(to left, var(--accent1), var(--accent2)) 1;
    background-color: #000;
    color: #fff;
}

.card-img {
    background-color: var(--grey);
    height: 60%;
    width: 150%;
    margin: 0px;
    object-fit: cover;
}