{% extends "main/dashboard_base.html" %}

{% block content %}
    <h1>Answers</h1>
    {% for question in challenge_tracker.correct_questions.all %}
        <div>
            <div>{{ question.question }} - <span class="gradient">{{ question.answer }} {{ question.unit }}</span></div>
        </div>
    {% endfor %} 
    {% for question in challenge_tracker.incorrect_questions.all %}
        <div>
            <div class="danger">{{ question.question }} - <span class="gradient">{{ question.answer }} {{ question.unit }}</span></div>
        </div>
    {% endfor %} 
{% endblock content %}