{% extends "main/dashboard_base.html" %}
{% load static %}
{% load custom_filters %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "main/styles/leaderboard.css" %}">
    <style>
        .level-progress-bar::after {
            width: {{ xp_progress }}% !important;
        }
    </style>
{% endblock links %}

{% block content %}
    {{ block.super }}
    <p>Class - {{ user.student.grade }}</p>
    <div class="dashboard-content">
        <div class="progress-dashboard">
            <h2>Level {{ user_data.level }}</h2>
            <div class="level-progress-bar"></div>
            <p>{{ user_data.xp }} / {{ required_xp }} xp</p>
        </div>
        <div class="points-dashboard">
            <h3>Points</h3>
            <h2>{{ user_data.points }}</h2>
        </div>
        <div class="attendance-dashboard">
            <h3>Attendance</h3>
            <h2>{{ attendance.days_attended }} / {{ attendance.days_passed }}</h2>
        </div>
        <div class="health-dashboard">
            <h3>Health</h3>
            <p>Height: {{ user_data.height }} ft</p>
            <p>Weight: {{ user_data.weight }} kg</p>
            <p>BMI: {{ bmi|floatformat:2 }}</p>
        </div>
        <div class="challenges-dashboard">
            <h3>Ongoing Challenges</h3>
            {% for challenge_tracker in progress_list %}
                <style>
                    .challenge-progress-{{ forloop.counter }} {
                        height: 10px;
                        width: 100%;
                        margin: 1.25em 0;
                        background: var(--light-grey);
                        border-radius: 10px;
                        overflow: hidden;
                    }

                    .challenge-progress-{{ forloop.counter }}::after {
                        display: block;
                        content: "";
                        height: 100%;
                        width: {{ challenge_tracker.progress_percentage }}%;
                        border-radius: 10px;
                        background: var(--gradient-right);
                    }
                </style>
                {% comment %} <a class="challenge" href="{% url "challenge" challenge.id current_question_id %}"> {% endcomment %}
                <a class="challenge" href="{% url "dashboard_category" "challenges" %}">
                    <h4>{{ challenge_tracker.challenge.name }}</h4>
                    <div class="challenge-progress-{{ forloop.counter }}"></div>
                    <p class="challenge-completed">{{ challenge_tracker.completed_questions.count }}/{{ challenge_tracker.challenge.question_set.count }} completed</p>
                </a>
            {% endfor %}
        </div>
        <div class="leaderboard-dashboard">
            <h3>Top 3 right now</h3>
            <div class="leaderboard-container">
                {% for entry in leaderboard|slice:3 %}
                    {% if entry.user_id == user_id %}
                        <div class="leaderboard-entry gradient-border">
                    {% else %}
                        <div class="leaderboard-entry">
                    {% endif %}
                            <div class="rank">{{ forloop.counter }}</div>
                            <div class="name">{{ entry.user__first_name }} {{ entry.user__last_name }} {% if entry.user_id == user_id %} - You{% endif %}</div>
                            <div class="points">Level {{ entry.level }}</div>
                        </div>
                {% endfor %}
            </div>
        </div>
        <div class="quotes-dashboard">
            <h3>Inspirational Quote</h3>
            <p class="quote">"{{ quote.quote }}"</p>
            <p class="quote-by">- {{ quote.by }}</p>
        </div>
    </div>
{% endblock content %}