{% extends "main/dashboard_base.html" %}

{% block content %}
    {{ block.super }}
    <div class="quizzes-content">
        <a href="" class="quiz">
            <h3>Quiz 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sapiente.</p>
        </a>
        <a href="" class="quiz">
            <h3>Quiz 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sapiente.</p>
        </a>
        <a href="" class="quiz">
            <h3>Quiz 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sapiente.</p>
        </a>
    </div>
{% endblock content %}