{% extends "main/dashboard_base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    {% for challenge in user.teacher.grade.challenge_set.all %}
    <div>
        <div class="challenge" href="{% url "challenge_question_create" challenge.id %}">
            <h4>{{ challenge.name }}</h4>
            <p>Solve {{ challenge.question_set.count }} {{ challenge.subject.name }} problems</p>
            {% if completed_questions.count %}
                <div class="correct-incorrect">
                    <p>Correct: {{ correct_questions.count }}</p>
                    <p>Incorrect: {{ incorrect_questions.count }}</p>
                </div>
            {% endif %}
            <div class="challenge-type">{{ challenge.challenge_type.capitalize }}</div>
            <div class="challenge-edit-buttons">
                <a href="{% url "challenge_edit" challenge.id %}" class="save-button">Edit Challenge</a>
                <a href="{% url "challenge_question_create" challenge.id %}" class="save-button">Add Questions</a>
                <a class="save-button danger-button" href={% url "challenge_delete" challenge.id %}>Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <a href="{% url "challenge_create" %}" class="challenge create-challenge save-button">Create Challenge<img class="icon" src="{% static "main/images/plus.svg" %}" alt=""></a>
{% endblock content %}