{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "users/styles/change_password.css" %}">
{% endblock links %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <div class="password-help-text">
        <ul>
            {% for help_text in password_help_texts %}
                <li>{{ help_text }}</li>
            {% endfor %}
        </ul>
    </div>
    <form id="form-container" method="POST">
        {% csrf_token %}
            <div>
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
            <div>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
        <button class="login-button" type="submit">Change Password</button>
    </form>
</div>
{% endblock content%}