{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "users/styles/login.css" %}">
{% endblock links %}

{% block content %}
<form class="login-form shadow" action="." method="POST">
    {% csrf_token %}
    <div class="usertype form-control">
        {% for radio in form.usertype %}
            <label for="{{ radio.id_for_label }}">
                {{ radio.tag }}
                <div class="label-box">{{ radio.choice_label }}</div>
            </label>
        {% endfor %}
    </div>
    {% for field in form %}
        {% if not forloop.first %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <input class="login-button form-control" type="submit" value="LOGIN">
</form>
{% endblock content %}