{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "main/styles/dashboard.css" %}">
    <script src="{% static "main/js/script.js" %}"></script>
{% endblock links %}

{% block navbar %}
    <div class="navbar">
        <a class="leaderboard" href=""><img src="{% static "images/leaderboard.svg" %}" alt="Leaderboard"></a>
        <a class="notif" href="javascript:void(0)"><img src="{% static "images/bell.svg" %}" alt="Notifications"></a>
        <a class="profile-pic" href="javascript:void(0)"><img src="{% static "images/profile.png" %}" alt="Profile Picture"></a>
        <div class="profile-popup shadow">
            <a href="">Settings</a>
            <a href="{% url "logout" %}">Logout</a>
        </div>
    </div>
{% endblock navbar %}

{% block sidebar %}
    <nav class="sidebar">
        {% block sidebar_list %}
        {% endblock sidebar_list %}
    </nav>
{% endblock sidebar %}