{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "main/styles/dashboard.css" %}">
    {% comment %} <script src="{% static "main/js/script.js" %}"></script> {% endcomment %}
{% endblock links %}

{% block navbar %}
    <div class="navbar">
        <a class="leaderboard" href="{% url "dashboard_category" "leaderboard" %}"><img src="{% static "images/leaderboard.svg" %}" alt="Leaderboard"></a>
        <a class="notif" href="javascript:void(0)"><img src="{% static "images/bell.svg" %}" alt="Notifications"></a>
        {% comment %} <a class="profile-pic" href="javascript:void(0)"><img src="{% static "images/profile.png" %}" alt="Profile Picture"></a> {% endcomment %}
        <input id="popup-toggle" type="checkbox">
        <label class="profile-pic" for="popup-toggle">
            <img src="{% static "images/profile.png" %}" alt="">
        </label>
        <label id="popup-overlay" for="popup-toggle"></label>
        <div class="profile-popup shadow">
            <h4>{{ fname }} {{ lname }}</h4>
            <a href="{% url "dashboard_category" "settings" %}">Settings</a>
            <a href="{% url "logout" %}">Logout</a>
        </div>
    </div>
{% endblock navbar %}

{% block sidebar %}
    <nav class="sidebar">
        {% for item in sidebar_items %}
            <a class="
            {% if item.name == selected %}selected{% endif %}"
            href="
            {% url "dashboard_category" item.name %}">
            <img src="{% static item.icon %}" alt="">
            {{ item.name.capitalize }}
        </a>
        {% endfor %}
    </nav>
{% endblock sidebar %}

{% block content %}
    <div class="header">
        <h1>{{ selected.capitalize }}</h1>
    </div>
{% endblock content %}