{% extends "main/dashboard_base.html" %}
{% load static %}

{% block links %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "main/styles/leaderboard.css" %}">
{% endblock links %}

{% block content %}
    <h1>LEADERBOARD</h1>

    <div class="leaderboard-container">
        {% for entry in user_data %}
            {% if entry.user_id == user_id %}
                <div class="leaderboard-entry gradient-border">
            {% else %}
                <div class="leaderboard-entry">
            {% endif %}
                    <div class="rank">{{ forloop.counter }}</div><div class="name">{{ entry.user__first_name }} {{ entry.user__last_name }}</div><div class="points">{{ entry.points }} points</div>
                </div>
        {% endfor %}
    </div>
{% endblock content %}
