:root {
    /* --accent1: #cc6dff;
    --accent2: #52b4f4; */
    --accent1: #21caf9;
    --accent2: #1082f3;
    --dark: #1a192c;
    
    --light-grey: #c7c7c7;
    --grey: #8e8e8e;
    --dark-grey: #414141;

    --dark-blue: #474075;
    --blue: #8098f7;
    --light-purple: #cc6dff34;
    --light-blue: #1082f321;

    --background: #f9fafb;
    --text: var(--dark-grey);

    --topbar-height: 90px;
    --sidebar-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'Tiny5';
    src: url("../fonts/tiny5/Tiny5-Regular.ttf");
}

body {
    margin-top: var(--topbar-height);
    background-color: var(--background);
}

/***** NAVBAR *****/
.topbar {
    position: fixed;
    top: 0;

    height: var(--topbar-height);
    width: 100%;
    padding: 0 64px;

    background-image: linear-gradient(to bottom right, var(--accent1), var(--accent2));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 6px solid #000; */
}

.logo {
    height: 32px;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.1));
}

.navbar {
    display: flex;
    gap: 10px;
    align-content: space-around;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 1em;
    color: #000;

    /* background-color: #00000000; */
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar div {
    text-decoration: none;
    font-size: 1em;
    float: left;
    color: #000;

    /* background-color: #00000000; */
    padding: 10px 20px;
    border-radius: 5px;
}

.login-button {
    text-decoration: none;
    /* font-size: 1.1rem !important; */
    font-family: 'Roboto-Bold';

    background-color: #fff;
    color: var(--accent2) !important;
    /* background-color: #000; */
    /* background-image: linear-gradient(to bottom right, var(--accent1), var(--accent2)); */
    /* border: 2px solid #000; */
    border: none;
    border-radius: 8px !important;
    padding: 10px 20px;
}

.login-button:hover {
    color: #fff !important;
    background-color: var(--accent2);
}

.shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.error {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-size: 2rem;
}

.cta-button {
    font-size: 1.5rem;
    padding: 10px 25px;
    border-radius: 100em;
    text-decoration: none;

    /* border-width: 3px; */
    /* border-style: solid; */
    /* background: linear-gradient(to bottom right, var(--accent1), var(--accent2)); */
    color: var(--accent1);
    background-color: #fff;
}

.cta-button:hover {
    background: transparent;
}

.pixel {
    font-family: 'Tiny5' !important;
    font-size: 115%;
}

.gradient {
    background: linear-gradient(to right, var(--accent1), var(--accent2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}

.gradient-border {
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to bottom right, var(--accent1), var(--accent2)) border-box;
    border: 3px solid transparent !important;
}

.gradient-background {
    background-image: linear-gradient(to bottom right, var(--accent1), var(--accent2));
    color: #fff;
    border: none !important;
}